Daily Random Quote Generator & Logger in n8n.json
{
  "name": "Daily Random Quote Generator & Logger in n8n",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1888,
        -272
      ],
      "id": "abab1c78-3283-4a3a-b5bb-bc12b92cbb30",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const quotes = [\n  \"Believe you can and you're halfway there. – Theodore Roosevelt\",\n  \"The only way to do great work is to love what you do. – Steve Jobs\",\n  \"Don't watch the clock; do what it does. Keep going. – Sam Levenson\",\n  \"You are never too old to set another goal or to dream a new dream. – C.S. Lewis\",\n  \"Failures are part of the process. Use them as stepping stones.\"\n  // add more as you like\n];\nconst idx = Math.floor(Math.random() * quotes.length);\nreturn {\n  json: {\n    quote: quotes[idx],\n    generatedAt: new Date().toISOString()\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1680,
        -272
      ],
      "id": "bee01b52-736a-4db8-8364-8ab7df61c7de",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "melodysongs265@gmail.com",
          "mode": "list",
          "cachedResultName": "melodysongs265@gmail.com"
        },
        "additionalFields": {
          "description": "=Quote of the Day: {{ $json.quote }}",
          "summary": "Motivational Quote"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -1472,
        -272
      ],
      "id": "4e937731-b59b-4a0c-8f5d-b8c6af44fa98",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "MH9s0bR4GSKJ6V43",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "f29bee4c-4a95-46f4-9139-eaa55229c0cc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7e4c2040ab949221feae64ab982335215494bc55129871e8ec3fcb68de2a2c19"
  },
  "id": "cu0BOcWEjgFCQLid",
  "tags": []
}
